.experience-card {
    border-radius: 38px;
    background-color: #283606 !important;
    margin-bottom: 100px;
    width: 100%; 
    max-width: 530px;
    height: auto;
}

@media (max-width: 768px) {
    .experience-card {
        margin-bottom: 50px;
    }
}

@media (max-width: 576px) {
    .experience-card {
        margin-bottom: 30px;
    }
}
